.biliplus-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.biliplus-load-more-anchor {
  position: absolute;
  opacity: 0;
  top: 200px;
}
.biliplus-hide-hot-search-list .trending {
  display: none;
}
/* .biliplus-hide-hot-search-list  */